<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %} - CMS管理画面</title>
    
    <link rel="stylesheet" href="/css/vendor/coreui.min.css">
    
    {% block css %}{% endblock %}
</head>
<body class="app flex-row align-items-center">
    <div class="container">
        {% block container %}{% endblock %}
    </div>
    
    <script src="/js/vendor/jquery-3.3.1.min.js"></script>
    <script src="/js/vendor/popper.min.js"></script>
    <script src="/js/vendor/bootstrap.min.js"></script>
    <script src="/js/vendor/coreui.min.js"></script>
</body>
</html>