env_variables:
  # APPSETTING_ENV:
  # APPSETTING_DEBUG:

  # MYSQLCONNSTR_HOST:
  # MYSQLCONNSTR_PORT:
  # MYSQLCONNSTR_NAME:
  # MYSQLCONNSTR_USER:
  # MYSQLCONNSTR_PASSWORD:
  # MYSQLCONNSTR_SSL_CA:

  # CUSTOMCONNSTR_STORAGE_NAME:
  # CUSTOMCONNSTR_STORAGE_KEY:

  # APPSETTING_API_AUTH_SERVER:
  # APPSETTING_API_AUTH_CLIENT_ID:
  # APPSETTING_API_AUTH_CLIENT_SECRET:

  # APPSETTING_MP_API_ENDPOINT:
  # APPSETTING_MP_API_PROJECT_ID:
