#
# environment values
#

# Application
APPSETTING_ENV="Application environment"

# Database
MYSQLCONNSTR_HOST="Host name"
MYSQLCONNSTR_PORT="Port number"
MYSQLCONNSTR_NAME="Database name"
MYSQLCONNSTR_USER="User name"
MYSQLCONNSTR_PASSWORD="User password"
MYSQLCONNSTR_SSL="Use SSL (true or false)"

# Azure Storage
CUSTOMCONNSTR_STORAGE_NAME="Storage name"
CUSTOMCONNSTR_STORAGE_KEY="Storage access key"

# Azure Storage (use local)
# CUSTOMCONNSTR_STORAGE_SECURE=false
# CUSTOMCONNSTR_STORAGE_NAME=devstoreaccount1
# CUSTOMCONNSTR_STORAGE_KEY=Eby8vdM02xNOcqFlqUwJPLlmEtlCDXJ1OUzFT50uSRZ6IFsuFq2UVErCz4I6tq/K1SZFPTOtr/KBHBeksoGMGw==
# CUSTOMCONNSTR_STORAGE_BLOB_ENDPOINT=http://storage:10000/devstoreaccount1
# CUSTOMCONNSTR_STORAGE_PUBLIC_ENDOPOINT=http://127.0.0.1:10000/devstoreaccount1

# API Authorization
APPSETTING_API_AUTH_SERVER="API authorization server host"
APPSETTING_API_AUTH_CLIENT_ID="API authorization client ID"
APPSETTING_API_AUTH_CLIENT_SECRET="API authorization client secret"

# MotionPicture
APPSETTING_MP_API_ENDPOINT="MotionPicture API endpoint"
