.gcloudignore

.git
.gitignore

/.circleci/
/bin/
/cache/
/docker/
/public/.htaccess.example
/report/
/tests/
/vendor/
.editorconfig
.env
.env.example
.env.test
.phpunit.result.cache
docker-compose.yml
phpcs.xml
phpstan.neon
phpunit.xml
README.md
