.gcloudignore

.git
.gitignore

/.circleci/
/.gcp/app.yaml
/.gcp/env.example.yaml
/.gcp/php.development.ini
/.gcp/php.production.ini
./gcp/README.md
/bin/
/cache/
/docker/
/public/.htaccess.example
/report/
/tests/
/vendor/
.editorconfig
.env
.env.example
.env.test
.phpunit.result.cache
docker-compose.yml
phpcs.xml
phpstan.neon
phpunit.xml
README.md
