##
## git ignore
##

# application
/cache
/public/.htaccess
/src/ORM/proxy
.env

# composer
composer.phar
composer.bat
/vendor/

# docker
/docker/mysql/data
/docker/phpmyadmin/sessions

# git
!.gitkeep
