includes:
	- vendor/phpstan/phpstan-doctrine/extension.neon
	- vendor/phpstan/phpstan-doctrine/rules.neon
	- vendor/phpstan/phpstan-phpunit/extension.neon
	- vendor/phpstan/phpstan-phpunit/rules.neon
	- vendor/phpstan/phpstan-mockery/extension.neon

parameters:
	level: 3
	bootstrap: %currentWorkingDirectory%/src/bootstrap.php
	paths:
		- %currentWorkingDirectory%/src
		- %currentWorkingDirectory%/tests
	excludes_analyse:
		- %currentWorkingDirectory%/src/ORM/Proxy/*
		- %currentWorkingDirectory%/tests/entity-manager.php
	doctrine:
		objectManagerLoader: %currentWorkingDirectory%/tests/entity-manager.php
