includes:
	- vendor/phpstan/phpstan-doctrine/extension.neon
	- vendor/phpstan/phpstan-doctrine/rules.neon

parameters:
	level: 2
	bootstrap: %currentWorkingDirectory%/src/bootstrap.php
	paths:
		- %currentWorkingDirectory%/src
	excludes_analyse:
		- %currentWorkingDirectory%/src/ORM/Proxy/*

	doctrine:
		objectManagerLoader: %currentWorkingDirectory%/analysis/entity-manager.php
