{% extends "layout.html.twig" %}

{% block title %}作品マスタ取り込み | 作品マスター{% endblock %}

{% block breadcrumb %}
<ol class="breadcrumb">
    <li class="breadcrumb-item">ダッシュボード</li>
    <li class="breadcrumb-item">作品マスター</li>
    <li class="breadcrumb-item active">作品マスタ取り込み</li>
</ol>
{% endblock %}

{% block css %}
<link rel="stylesheet" href="/css/loader.css">
<link rel="stylesheet" href="/css/vendor/jquery.datetimepicker.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.4.1/css/simple-line-icons.css">
{% endblock %}

{% block javascript %}
<script src="/js/vendor/jquery.datetimepicker.full.min.js"></script>
<script src="/js/form.js?v=20181009"></script>
<script src="/js/api.js"></script>
<script src="/js/common.js"></script>
<script src="/js/polyfill.js"></script>
<script src="/js/cinerino.js"></script>
<script src="/js/title/import.js"></script>
{% endblock %}

{% block container %}
<div class="alert" role="alert" style="display: none">
</div>
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <form name="cinerino_title_find">
                <div class="card-header">
                    検索
                </div>
                <div class="card-body">
                    <div class="form-group row">
                        <label class="col-md-3 col-form-label">公開日</label>
                        <div class="col-md-6">
                            <div class="form-inline input-group">
                                <input type="text" name="public_start_dt" class="form-control datetimepicker{% if errors.public_start_dt %} is-invalid{% elseif is_validated %} is-valid{% endif %}" value="{{ values.public_start_dt }}">
                                <div class="input-group-addon">
                                    <span class="input-group-text">～</span>
                                </div>
                                <input type="text" name="public_end_dt" class="form-control datetimepicker{% if errors.public_end_dt %} is-invalid{% elseif is_validated %} is-valid{% endif %}" value="{{ values.public_end_dt }}">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <button type="button" class="btn btn-primary">検索</button>
                </div>
            </form>
        </div>
        
        <div class="card search-result" style="display: none">
            <div class="card-header">
                検索結果
            </div>
            <div class="card-body">
                <table class="table table-responsive-md">
                    <thead>
                        <tr>
                            <th></th>
                            <th style="min-width: 130px">公開日</th>
                            <th>ステータス</th>
                            <th>ID</th>
                            <th>作品名</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
            <div class="card-footer">
                <button type="button" class="btn btn-primary" onclick="importTitles()">反映</button>
            </div>
        </div>
    </div>
</div>
{% include 'include/loader.html.twig' %}
{% endblock %}
