<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!-- Digest認証 https://github.com/nabehiro/HttpAuthModule
    <configSections>
        <section name="httpAuthModule" type="System.Configuration.NameValueFileSectionHandler" />
    </configSections>
    <httpAuthModule>
        <add key="AuthMode" value="Digest"/>
        <add key="Realm" value="SecureZone"/>
        <add key="Credentials" value="[ user1:pass1;user2:pass2;... ]"/>
        <add key="DigestNonceValidDuration" value="120"/>
        <add key="DigestNonceSalt" value="[ Digest Auth Nonce Salt ]" />
    </httpAuthModule>
    -->
    <system.webServer>
        <!-- HttpAuthModule
        <modules>
            <add type="HttpAuthModule.HttpAuthModule" name="HttpAuthModule"/>
        </modules>
        -->
        <rewrite>
            <rules>
                <rule name="Application Rule" patternSyntax="Wildcard" stopProcessing="true">
                    <match url="*" />
                    <conditions>
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="index.php" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
