{% extends "layout.html.twig" %}

{% block title %}ダッシュボード{% endblock %}

{% block breadcrumb %}
<ol class="breadcrumb">
    <li class="breadcrumb-item active">ダッシュボード</li>
</ol>
{% endblock %}

{% block container %}
{% endblock %}
